<div class="container">
  <div id="footer-links">
    <%= link_to _('Manual'), '/doc', id: "link-to-doc", class: 'icon-help' %>
  </div><!-- end id="footer-links" -->
  <div id="copyright">
    <p><%= (_('This social network uses <a href="http://noosfero.org/">Noosfero</a>, developed by %s and licensed under the <a href="http://www.gnu.org/licenses/agpl.html">GNU Affero General Public License</a> version 3 or any later version.') % link_to('Colivre', 'http://colivre.coop.br/')).html_safe %></p>
  </div><!-- end id="copyright" -->
  <%= language_chooser(environment) %>
</div>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//nephila.serpro.gov.br/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 162]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//nephila.serpro.gov.br/piwik.php?idsite=162" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->


<script src="/designs/themes/planejamento-2017/external/js/progressbar.js"></script>
<script src="/designs/themes/planejamento-2017/external/js/template.js"></script>
<script src="/designs/themes/planejamento-2017/external/js/functions.js"></script>
<link rel="stylesheet" media="screen" href="/designs/themes/planejamento-2017/external/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" media="screen" href="/designs/themes/planejamento-2017/external/css/style.css">


<script type='text/javascript'>

var mydata = null;

jQuery.getJSON('http://planejamento.serpro/data.json', function(data) {
  mydata = data;
  // Passar para a função plotGraph:
  // 1 - id da div para inserior o grafico
  // 2 - Tipo de Gráfico (0 = faturometro, 1 = despesometro)
  // 3 - Meta Acumulada do Período
  // 4 - Meta Anual
  // 5 - Valor Realizado do Período 
  plotGraph("faturometro", 0 , mydata['faturometro']['meta_periodo'], mydata['faturometro']['meta_anual'], mydata['faturometro']['valor_realizado']);
  plotGraph("despesometro", 1 , mydata['despesometro']['meta_periodo'], mydata['despesometro']['meta_anual'], mydata['despesometro']['valor_realizado']);
  plotMargem("margemliquida", mydata['margemliquida']['valor_realizado']);

});

</script>
